.country-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
  row-gap: 20px;
  font-family: Jaro;
  font-size: 24px;
  align-items: center;
}

.country-grid-flag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  border: none;
  margin-left: 10px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.30);
  animation: slide-in-left 1s ease-in-out;
}

.column-heading {
  font-size: 32px;
  color: rgb(95, 198, 233);
}

.incorrect-value {
  font-size: 28px;
  color: red;
}

.arrow {
  color: gold;
  font-size: 28px;
}

.correct-value {
  color: lightgreen;
  font-size: 28px;
}

.country-details-animation {
  animation: bounce 2s ease-in-out;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-5px);
  }
}