.country-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10px;
}

.country-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  object-fit: cover;
  margin-left: 10px;
}