.header {
  text-align: center;
  font-family: Jaro, Arial;
  font-size: 46px;
  color: white;
  background-image: url('../images/Country Flags/Collection-national-flags.png');
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  padding-bottom: 5px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.85);
}