.user-choice {
  margin-top: 75px;
  text-align: center;
  position: fixed;
  left: 0px;
  right: 0px;
  top: -15px;
  background-color: rgb(163, 208, 223);
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-input {
  font-family: Jaro;
  font-size: 20px;
  color: rgb(95, 198, 233);
  padding-left: 5px;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  height: 35px;
}

.user-submit,
.user-clear {
  color: white;
  font-family: Jaro;
  font-size: 20px;
  background-color: rgb(95, 198, 233);
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.user-submit:hover,
.user-clear:hover {
  background-color: rgb(29, 181, 231);
}