.game {
  margin-top: 75px;
}

.user-choice {
  text-align: center;
}

.user-input {
  font-family: Jaro;
  font-size: 20px;
  color: lightblue;
  padding-left: 5px;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  height: 30px;
}

.user-submit {
  color: white;
  font-family: Jaro;
  font-size: 20px;
  background-color: lightblue;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}