.faded-background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.5);
}

.welcome-box {
  width: 515px;
  background-color: rgb(240, 240, 240);
  color: rgb(95, 198, 233);
  padding: 20px 20px 20px 20px;
  font-family: Jaro;
  font-size: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

.welcome-title {
  font-size: 30px;
  color: white;
  background-color: rgb(95, 198, 233);
  margin-bottom: 10px;
  padding-left: 10px;
}

.get-started-button {
  font-family: Jaro;
  border: none;
  color: white;
  background-color: rgb(95, 198, 233);
  font-size: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.show-again {
  margin-left: 20px;
}